body {
  background: rgb(5, 5, 5);
}

* {
  border: 1px solid rgb(226, 245, 16);
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: grey;
}

header, footer  {
  flex-grow: 1;
}

main {
  flex-grow:3;
}


@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  header {
    width: 100%;
  }
  main, footer, header {
    margin: 1em;
    background-color: rgb(185, 107, 107);
  }
}
